/*
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/i2c/i2c.h>

/* Add reverse compatability with Pico */
pico_i2c0: &i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

	sh1106_sh1106_128x64: ssd1306@3c {
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
	};
};
pico_i2c1: &i2c1 {};
pico_uart1: &uart1 {};

&pinctrl {
	uart1_default: uart1_default {
		group1 {
			pinmux = <UART1_TX_P4>;
		};
		group2 {
			pinmux = <UART1_RX_P5>;
			input-enable;
		};
	};

	i2c0_default: i2c0_default {
		group1 {
			pinmux = <I2C0_SDA_P8>;
			input-enable;
			bias-pull-up;
		};
		group2 {
			pinmux = <I2C0_SCL_P9>;
			input-enable;
			bias-pull-up;
		};
	};
};

&pico_uart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
};

/ {
  chosen {
    zephyr,display = &sh1106_sh1106_128x64;
  };

  aliases {
    sw0 = &qdec_btn;
    helios-uart = &pico_uart1;
  };

  buttons: buttons {
    compatible = "gpio-keys";
    debounce-interval-ms = <50>;
    qdec_btn: btn_pin {
      gpios = <&pico_header 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "wheel";
      zephyr,code = <INPUT_BTN_0>;
    };
  };

  qdec_btn {
    input = <&buttons>;
    compatible = "zephyr,input-longpress";
    input-codes = <INPUT_BTN_0>;
    short-codes = <INPUT_BTN_1>;
    long-codes = <INPUT_BTN_2>;
    long-delay-ms = <420>;
  };

  qdec {
    compatible = "gpio-qdec";
    status = "okay";
    gpios = <&pico_header 14 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>,
            <&pico_header 15 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
    steps-per-period = <4>;
    zephyr,axis = <INPUT_REL_WHEEL>;
    sample-time-us = <1000>;
    idle-timeout-ms = <100>;
  };
};
